@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input,
textarea {
  outline: none;
  padding: 0;
  margin: 0; }

a, a:hover, a:focus,
input, input:focus,
select, select:focus,
textarea, textarea:focus {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

/*-----------------------------------*
  $TOAST-GRID

  An insane grid.
  You'd be mad to use it.

  Usage
  =====

  Assuming default values:

  <div class="grid">
    <div class="grid__col grid__col--1-of-2">
      A half-width column.
    </div>
    <div class="grid__col grid__col--1-of-4 grid__col--pull-1-of-4">
      A quarter, pulled left by its own width. You get this, right?
    </div>
  </div>


  Customisation
  =============

  $toast-grid-namespace and $toast-grid-column-namespace
  adjusts the class names for the grid. With
  default values, grid wrappers have a class
  of '.grid' and columns '.grid__col'.

  $toast-col-groups(n) adjusts column divisions.
  For example, $toast-col-groups(12) will produce
  a 12-column grid. $col-groups(3,6,8)
  will produce a 3-, 6-, and 8-column grid.

  $toast-gutter-width is—you guessed it—the gutter
  width. Accepts any unit.

  That's it. Have fun.

\*-----------------------------------*/
.grid {
  list-style: none;
  margin-left: -20px; }

.grid__col--2-of-2, .grid__col--3-of-3, .grid__col--4-of-4, .grid__col--5-of-5, .grid__col--6-of-6, .grid__col--8-of-8, .grid__col--12-of-12 {
  width: 100%; }

.grid__col--1-of-2, .grid__col--2-of-4, .grid__col--3-of-6, .grid__col--4-of-8, .grid__col--6-of-12 {
  width: 50%; }

.grid__col--1-of-3, .grid__col--2-of-6, .grid__col--4-of-12 {
  width: 33.33333%; }

.grid__col--2-of-3, .grid__col--4-of-6, .grid__col--8-of-12 {
  width: 66.66667%; }

.grid__col--1-of-4, .grid__col--2-of-8, .grid__col--3-of-12 {
  width: 25%; }

.grid__col--3-of-4, .grid__col--6-of-8, .grid__col--9-of-12 {
  width: 75%; }

.grid__col--push-2-of-2, .grid__col--push-3-of-3, .grid__col--push-4-of-4, .grid__col--push-5-of-5, .grid__col--push-6-of-6, .grid__col--push-8-of-8, .grid__col--push-12-of-12 {
  margin-left: 100%; }

.grid__col--push-1-of-2, .grid__col--push-2-of-4, .grid__col--push-3-of-6, .grid__col--push-4-of-8, .grid__col--push-6-of-12 {
  margin-left: 50%; }

.grid__col--push-1-of-3, .grid__col--push-2-of-6, .grid__col--push-4-of-12 {
  margin-left: 33.33333%; }

.grid__col--push-2-of-3, .grid__col--push-4-of-6, .grid__col--push-8-of-12 {
  margin-left: 66.66667%; }

.grid__col--push-1-of-4, .grid__col--push-2-of-8, .grid__col--push-3-of-12 {
  margin-left: 25%; }

.grid__col--push-3-of-4, .grid__col--push-6-of-8, .grid__col--push-9-of-12 {
  margin-left: 75%; }

.grid__col--pull-2-of-2, .grid__col--pull-3-of-3, .grid__col--pull-4-of-4, .grid__col--pull-5-of-5, .grid__col--pull-6-of-6, .grid__col--pull-8-of-8, .grid__col--pull-12-of-12 {
  margin-left: -100%; }

.grid__col--pull-1-of-2, .grid__col--pull-2-of-4, .grid__col--pull-3-of-6, .grid__col--pull-4-of-8, .grid__col--pull-6-of-12 {
  margin-left: -50%; }

.grid__col--pull-1-of-3, .grid__col--pull-2-of-6, .grid__col--pull-4-of-12 {
  margin-left: -33.33333%; }

.grid__col--pull-2-of-3, .grid__col--pull-4-of-6, .grid__col--pull-8-of-12 {
  margin-left: -66.66667%; }

.grid__col--pull-1-of-4, .grid__col--pull-2-of-8, .grid__col--pull-3-of-12 {
  margin-left: -25%; }

.grid__col--pull-3-of-4, .grid__col--pull-6-of-8, .grid__col--pull-9-of-12 {
  margin-left: -75%; }

.grid__col--1-of-5 {
  width: 20%; }

.grid__col--push-1-of-5 {
  margin-left: 20%; }

.grid__col--pull-1-of-5 {
  margin-left: -20%; }

.grid__col--2-of-5 {
  width: 40%; }

.grid__col--push-2-of-5 {
  margin-left: 40%; }

.grid__col--pull-2-of-5 {
  margin-left: -40%; }

.grid__col--3-of-5 {
  width: 60%; }

.grid__col--push-3-of-5 {
  margin-left: 60%; }

.grid__col--pull-3-of-5 {
  margin-left: -60%; }

.grid__col--4-of-5 {
  width: 80%; }

.grid__col--push-4-of-5 {
  margin-left: 80%; }

.grid__col--pull-4-of-5 {
  margin-left: -80%; }

.grid__col--1-of-6 {
  width: 16.66667%; }

.grid__col--push-1-of-6 {
  margin-left: 16.66667%; }

.grid__col--pull-1-of-6 {
  margin-left: -16.66667%; }

.grid__col--5-of-6 {
  width: 83.33333%; }

.grid__col--push-5-of-6 {
  margin-left: 83.33333%; }

.grid__col--pull-5-of-6 {
  margin-left: -83.33333%; }

.grid__col--1-of-8 {
  width: 12.5%; }

.grid__col--push-1-of-8 {
  margin-left: 12.5%; }

.grid__col--pull-1-of-8 {
  margin-left: -12.5%; }

.grid__col--3-of-8 {
  width: 37.5%; }

.grid__col--push-3-of-8 {
  margin-left: 37.5%; }

.grid__col--pull-3-of-8 {
  margin-left: -37.5%; }

.grid__col--5-of-8 {
  width: 62.5%; }

.grid__col--push-5-of-8 {
  margin-left: 62.5%; }

.grid__col--pull-5-of-8 {
  margin-left: -62.5%; }

.grid__col--7-of-8 {
  width: 87.5%; }

.grid__col--push-7-of-8 {
  margin-left: 87.5%; }

.grid__col--pull-7-of-8 {
  margin-left: -87.5%; }

.grid__col--1-of-12 {
  width: 8.33333%; }

.grid__col--push-1-of-12 {
  margin-left: 8.33333%; }

.grid__col--pull-1-of-12 {
  margin-left: -8.33333%; }

.grid__col--2-of-12 {
  width: 16.66667%; }

.grid__col--push-2-of-12 {
  margin-left: 16.66667%; }

.grid__col--pull-2-of-12 {
  margin-left: -16.66667%; }

.grid__col--5-of-12 {
  width: 41.66667%; }

.grid__col--push-5-of-12 {
  margin-left: 41.66667%; }

.grid__col--pull-5-of-12 {
  margin-left: -41.66667%; }

.grid__col--7-of-12 {
  width: 58.33333%; }

.grid__col--push-7-of-12 {
  margin-left: 58.33333%; }

.grid__col--pull-7-of-12 {
  margin-left: -58.33333%; }

.grid__col--10-of-12 {
  width: 83.33333%; }

.grid__col--push-10-of-12 {
  margin-left: 83.33333%; }

.grid__col--pull-10-of-12 {
  margin-left: -83.33333%; }

.grid__col--11-of-12 {
  width: 91.66667%; }

.grid__col--push-11-of-12 {
  margin-left: 91.66667%; }

.grid__col--pull-11-of-12 {
  margin-left: -91.66667%; }

.grid__col {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  margin-right: -.25em;
  min-height: 1px;
  padding-left: 20px;
  vertical-align: top; }
  @media (max-width: 700px) {
    .grid__col {
      display: block;
      margin-left: 0;
      margin-right: 0;
      width: auto; } }
  @media (max-width: 700px) and (min-width: 480px) {
    .grid__col[class*="grid__col--m-"] {
      display: inline-block;
      margin-right: -.24em; }
    .grid__col.grid__col--m-1-of-2, .grid__col.grid__col--m-2-of-4 {
      width: 50%; }
    .grid__col.grid__col--m-1-of-3 {
      width: 33.33333%; }
    .grid__col.grid__col--m-2-of-3 {
      width: 66.66667%; }
    .grid__col.grid__col--m-1-of-4 {
      width: 25%; }
    .grid__col.grid__col--m-3-of-4 {
      width: 75%; } }
  @media (max-width: 480px) {
    .grid__col[class*="grid__col--s-"] {
      display: inline-block;
      margin-right: -.24em; }
    .grid__col.grid__col--s-1-of-2, .grid__col.grid__col--s-2-of-4 {
      width: 50%; }
    .grid__col.grid__col--s-1-of-3 {
      width: 33.33333%; }
    .grid__col.grid__col--s-2-of-3 {
      width: 66.66667%; }
    .grid__col.grid__col--s-1-of-4 {
      width: 25%; }
    .grid__col.grid__col--s-3-of-4 {
      width: 75%; } }

.grid__col--centered {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.grid__col--d-first {
  float: left; }

.grid__col--d-last {
  float: right; }

.grid--no-gutter {
  margin-left: 0;
  width: 100%; }
  .grid--no-gutter .grid__col {
    padding-left: 0; }
  .grid--no-gutter .grid__col--span-all {
    margin-left: 0;
    width: 100%; }

.grid__col--ab {
  vertical-align: bottom; }

.grid__col--am {
  vertical-align: middle; }

/*
  Define Variables here
*/
/*
  Define our text style here
  so we don't need to later
*/
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px; }
  body h1 {
    font-size: 3em; }
  body h2 {
    font-size: 1.5em; }

/*
  Let's keep out extends in here
*/
.flex-column--center, .flex-row--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.grow {
  display: block !important;
  -webkit-animation: grow 0.5s forwards;
          animation: grow 0.5s forwards; }

.animate {
  display: none;
  position: absolute;
  border-radius: 50%;
  background-color: #3F61A6;
  width: 50px;
  height: 50px;
  top: 15px;
  right: 20px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out; }
  .animate span {
    display: block;
    margin: 0 auto;
    width: 26px;
    height: 2px;
    background-color: white !important;
    margin-top: 6px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out; }
    .animate span:nth-child(1) {
      margin-top: 25px !important;
      -webkit-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
              transform: rotate(135deg); }
    .animate span:nth-child(2) {
      opacity: 0; }
    .animate span:nth-child(3) {
      margin-top: -10px !important;
      -webkit-transform: rotate(-135deg);
          -ms-transform: rotate(-135deg);
              transform: rotate(-135deg); }

.popIn {
  display: block;
  -webkit-animation: popIn 0.7s ease-in-out forwards;
          animation: popIn 0.7s ease-in-out forwards; }

@-webkit-keyframes popIn {
  0% {
    -webkit-transform: translateY(-10%) scale(0.5);
            transform: translateY(-10%) scale(0.5);
    opacity: 0; }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }
  60% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  80% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }
  100% {
    -webkit-transform: translateY(0%) scale(1);
            transform: translateY(0%) scale(1);
    opacity: 1; } }

@keyframes popIn {
  0% {
    -webkit-transform: translateY(-10%) scale(0.5);
            transform: translateY(-10%) scale(0.5);
    opacity: 0; }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }
  60% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  80% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }
  100% {
    -webkit-transform: translateY(0%) scale(1);
            transform: translateY(0%) scale(1);
    opacity: 1; } }

.slideLeft {
  -webkit-animation: slideLeft 0.6s forwards;
          animation: slideLeft 0.6s forwards; }

@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); }
  50% {
    -webkit-transform: translateX(-54%);
            transform: translateX(-54%); }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); } }

@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); }
  50% {
    -webkit-transform: translateX(-54%);
            transform: translateX(-54%); }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); } }

.slideRight {
  -webkit-animation: slideRight 0.5s forwards;
          animation: slideRight 0.5s forwards; }

@-webkit-keyframes slideRight {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); } }

@keyframes slideRight {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%); } }

@-webkit-keyframes grow {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes grow {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.slideOut {
  -webkit-animation: slideOut 0.5s ease-in-out forwards;
          animation: slideOut 0.5s ease-in-out forwards; }

@-webkit-keyframes slideOut {
  0% {
    -webkit-transform: translateY(-350px) scale(0);
            transform: translateY(-350px) scale(0);
    opacity: 0; }
  50% {
    -webkit-transform: translateY(60px) scale(1);
            transform: translateY(60px) scale(1);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(80px) scale(1);
            transform: translateY(80px) scale(1);
    opacity: 1; } }

@keyframes slideOut {
  0% {
    -webkit-transform: translateY(-350px) scale(0);
            transform: translateY(-350px) scale(0);
    opacity: 0; }
  50% {
    -webkit-transform: translateY(60px) scale(1);
            transform: translateY(60px) scale(1);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(80px) scale(1);
            transform: translateY(80px) scale(1);
    opacity: 1; } }

.slideDown {
  -webkit-animation: slideDown 0.5s ease-in-out forwards;
          animation: slideDown 0.5s ease-in-out forwards; }

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
    opacity: 0; } }

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1; }
  100% {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
    opacity: 0; } }

/*
  Styles for the hero section
*/
.hero {
  background: #3F61A6;
  padding: 100px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .hero h1,
  .hero h2 {
    color: #35528C; }
  .hero h2 {
    margin-top: 20px; }

/*
 Define Flex Styles Here
*/
.flex-column--center {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.flex-row--center {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

input,
textarea {
  width: 100%;
  background: white;
  padding-left: 20px;
  font-size: 1em;
  border: 2px solid white;
  border-radius: 2px;
  -webkit-box-shadow: 0px 15px 15px -13px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 15px 15px -13px rgba(0, 0, 0, 0.2);
  color: #313639; }

input {
  height: 40px;
  margin-bottom: 20px; }

textarea {
  height: 300px;
  padding-top: 20px; }

/*
  Styles for the footer
*/

/*# sourceMappingURL=style.css.map */
