/*
  Styles for the footer
*/
footer {
  width: 100%;
  background-color: white;
  display: inline-block;
  height: 80px;
  .container {
    p {
      display: inline-block;
      height: 100%;
      font-family: $mainFont;
      font-weight: 600;
      text-align: center;
      line-height: 80px;
      color: $mainColor;
      font-size: $copyFont;
      text-transform: uppercase;
      margin-left: 20px;
    }
    .social-icons {
      display: inline-block;
      height: 100%;
      line-height: 80px;
      float: right;
      margin-left: 60px;
      @include media($mobile-medium) {
        margin-left: 0;
      }
      a {
        line-height: 80px;
        display: inline-block;
        color: $navColor;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        text-align: center;
        line-height: 45px;
        transition: $normal;
      }
    }
  }
}
