/*
  Define Variables here
*/
// Colors
$mainColor: #3F61A6;
$mainColorShade: #35528C;
$secondaryColor: #A2C5F2;
$secondaryColorShade: #435C73;
$weirdBrown: #8C7669;
$navColor: #666;
$offWhite: #ddd;
$offBlack: #313639;
$gray: #aaa;
$transparency: rgba(36, 181, 116, 0.8);

// Styles
$corners: 2px;
$buttonShadows: 0px 20px 20px -10px rgba(0,0,0, 0.2);
$diffusedShadow: 0px 15px 15px -13px rgba(0,0,0, 0.2);
$buttonShadowsActive: 0px 30px 20px -10px rgba(0,0,0, 0.2);
$buttonShadowSmall: 0px 10px 20px -5px rgba(0,0,0, 0.2);
$sectionPadding: 80px 0;

// Transitions
$normal: 0.15s ease-in-out;
$slow: 0.2s ease-in-out;
$slide: 0.5s ease-in-out;

// Fonts
$mainFont: 'Open Sans', sans-serif;
$navFont: 0.8em;
$copyFont: 0.9em;
$headerFont: 1.1em;

//Breakpoints
$mobile: new-breakpoint(max-width 480px);
$mobile-medium: new-breakpoint(max-width 665px);
$intermediate: new-breakpoint(max-width 816px);
$tablet: new-breakpoint(max-width 1090px);
$desktop: new-breakpoint(min-width 1090px);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
